APP_ENV='local'

# For local development, you can use the local disk as data lake:
DATA_LAKE_PATH=./data_lake

num_partition=5

EMBEDDING_MODEL_DEVICE=cpu # cuda / cpu This one says where our embedding model wants to load  GPU / CPU, system default : cpu

VECOTRS_SURVIVAL=SSD # This one says where our vector wants to survive RAM ──→ vectors live here deleted when script ends like a whiteboard wiped clean every time, SSD ──→ vectors live here survives restarts survives power off like a notebook always there. our application default supports SSD for faster computation.

VECTOR_EMBEDDING_BATCH_SIZE=500

HF_TOKEN=

COLLECTION_NAME='fifa_matches_db' # Your Vector Collection Name

EMBEDDING_MODEL_NAME='BAAI/bge-small-en-v1.5'

LLM_MODEL_NAME='TinyLlama/TinyLlama-1.1B-Chat-v1.0'

LLM_MODEL_DEVICE=cpu # cuda / cpu / auto This one says where our LLm model wants to load  GPU / CPU, system default : cpu. Note : cuda supports only on nvidia VRAMS

RERANKER_MODEL_NAME='BAAI/bge-reranker-large'

LOG_DIR='./logs'

GUARDRAIL_MODEL_PATH='./rag/guardrails/pkl'
